@font-face {
  font-family: Manga;
  src: url("../fonts/Manga.otf") format("opentype");
}

@font-face {
  font-family: MangaItalic;
  font-style: italic;
  src: url("../fonts/Manga Italic.otf") format("opentype");
}

@font-face {
  font-family: MangaBold;
  font-weight: bold;
  src: url("../fonts/Manga Bold.otf") format("opentype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-y: hidden;
}

a {
    color:black;
    text-decoration: none;

    button{
        color:black;
    }
}

.page-index {
  background-image: url("../../public/images/background.png");
  background-size: cover;
  height: 100vh;
  display: flex;
}

.page-creation {
  background-image: url("../../public/images/background2.png");
  background-size: cover;
  height: 100vh;
}

.page-game {
  background-image: url("../../public/images/background3.png");
  background-size: cover;
  height: 100vh;
}

.selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: larger;
  flex: 1;
  font-family: "Manga", sans-serif;
  font-size: 3em;
  color: #ced0dc;

  .button-question {
    display: flex;
    flex-direction: row;
    color: #648767;
    font-family: "Manga", sans-serif;
    font-size: 0.4em;
    text-decoration: none;
  }

  .button-game {
    display: flex;
    flex-direction: row;
    color: #648767;
    font-family: "Manga", sans-serif;
    font-size: 0.4em;
  }
}

.button-home-game {
  display: flex;
  flex-direction: row;
  color: #873954 !important;
  font-family: "Manga", sans-serif !important;
  font-size: 0.4em;
}

.button-home-question {
    display: flex;
    flex-direction: row;
    color: #efb9a1 !important;
    font-family: "Manga", sans-serif !important;
    font-size: 0.4em;
  }

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
    flex: 1;
    font-family: "Manga", sans-serif;
    font-size: 1em;
    color: #efb9a1;
    padding: 1em;

    input{
      padding: 1em;
      margin-bottom: 8px;
    }
}

.span{
  font-family: "Manga", sans-serif;
}
