@font-face {
  font-family: Manga;
  src: url("../fonts/Manga.otf") format("opentype");
}

@font-face {
  font-family: MangaItalic;
  font-style: italic;
  src: url("../fonts/Manga Italic.otf") format("opentype");
}

@font-face {
  font-family: MangaBold;
  font-weight: bold;
  src: url("../fonts/Manga Bold.otf") format("opentype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-y: hidden;
}

a {
    color:black;
    text-decoration: none;

    button{
        color:black;
    }
}

.page-index {
  background-image: url("../../public/images/background.png");
  background-size: cover;
  height: 100vh;
  display: flex;
}


.page-game {
  background-image: url("../../public/images/background3.png");
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: larger;
  flex: 1;
  font-family: "Manga", sans-serif;
  font-size: 3em;
  color: #ced0dc;

  .button-question {
    display: flex;
    flex-direction: row;
    color: #648767;
    font-family: "Manga", sans-serif;
    font-size: 0.4em;
    text-decoration: none;
  }

  .button-game {
    display: flex;
    flex-direction: row;
    color: #648767;
    font-family: "Manga", sans-serif;
    font-size: 0.4em;
  }
}

.button-home-game {
  display: flex;
  flex-direction: row;
  color: #873954 !important;
  font-family: "Manga", sans-serif !important;
  font-size: 0.4em;
}

.button-home-question {
    display: flex;
    flex-direction: row;
    color: #efb9a1 !important;
    font-family: "Manga", sans-serif !important;
    font-size: 0.4em;
  }

.span{
  font-family: "Manga", sans-serif;
}

.create-wrapper-js {
  display: unset !important;
}

.react-video-create {
  display: none;
}

.page-creation {
  height: 100vh;
  background-image: url('../../public/images/background2.png');
  background-size: cover;
  background-position: center center;
}

.create-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .form {
    order: 2;
    display: flex;
    flex-direction: column;

    input {
      margin: 0.4rem 0;
      padding: 0.625rem 1.250rem;
      border: none;
      border-radius: 6px;
    }
  }

  .react-video-create {
    order: 1;
  }
}

.quiz-sheet{
  max-width: 60%;
  margin: 0 auto;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  ul{
    list-style: none;
  }
}